%position-context {
  content: '';
  display: block;
  position: absolute;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  width: 1170px;
  margin: auto;
}

.box__btn {
  width: 220px;
  height: 69px;
  border-radius: 5px;
  background: $curious-blue;
  @include box-shadow(2.177px 8.733px 21.5px rgba(90,86,149,0.32));
}

.btn {
  background-image: linear-gradient(180deg, $curious-blue 0%, $picton-blue 100%);
  width: 100%;
  height: 65px;
  border-radius: 5px;
  border: none;
  background-color: $curious-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include text-style(27px, 23px, 900, $white);

  span {
    font-size: 20px;
    font-weight: 500;
  }
}

.input {
  width: calc(100% - 67px);
  display: flex;
  align-items: center;
  padding-left: 55px;
  padding-right: 10px;
  border-radius: 5px;
  height: 54px;
  border: 1px solid $pigeon-post;
  outline: none;
  margin-bottom: 16px;
  @include text-style(18px, 18px, 400, $tuatara);

  @include placeholder {
    color: $hit-gray;
  }
}

.field {
  position: relative;

  span {
    position: absolute;
    top: 17px;
    left: 20px;
  }
}

.box_ic {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__circle {
    border-radius: 50%;
    border: 1px solid $persimmon;
  }
}

.ic {
  &_phone {
    display: block;
    background: url("../assets/ic-phone.svg") no-repeat;
    width: 20px;
    height: 24px;
  }

  &_user {
    display: block;
    background: url("../assets/ic-user.svg") no-repeat;
    width: 20px;
    height: 24px;
  }

  &_lightnig {
    display: block;
    background: url("../assets/ic-lightning.png") no-repeat center;
    width: 26px;
    height: 60px;
    background-size: cover;
  }

  &_lock {
    display: block;
    background: url("../assets/ic-lock.png") no-repeat center;
    width: 28px;
    height: 41px;
    background-size: cover;
  }

  &_foot {
    display: block;
    background: url("../assets/ic-foot.png") no-repeat center;
    width: 20px;
    height: 42px;
    background-size: cover;
  }

  &_ex-mark {
    display: block;
    background: url("../assets/ic-exclamation_mark.png") no-repeat center;
    width: 70px;
    height: 70px;
  }
}

.bg {
  &_woman {
    background: url("../assets/image-woman.png") no-repeat;
    width: 495px;
    height: 703px;
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 41%;
  }

  &_product {
    background: url("../assets/image-product.png") no-repeat;
    width: 480px;
    height: 403px;
    position: absolute;
  }

  &_man {
    background: url("../assets/image-man.png") no-repeat;
    width: 487px;
    height: 800px;
  }
}

.section {
  &__intro {
    background: url("../assets/bg.png") no-repeat;
    background-position-x: center;
    padding-top: 164px;
    padding-bottom: 124px;
    position: relative;
  }

  &__info_product {
    padding-top: 124px;
    padding-bottom: 180px;
  }

  &__preview_product {
    background: url("../assets/bg.png") no-repeat;
    background-position-x: center;
    padding-top: 40px;
    padding-bottom: 36px;
  }
}

.intro {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }

  &__bg_product {
    z-index: 2;
    left: 32.5%;
    bottom: -258px;
  }

  &__block {
    &_info {
      max-width: 500px;
    }

    &_order {
      width: 220px;
      border-radius: 4px;
      @include box-shadow(2.177px 8.733px 21.5px rgba(90,86,149,0.32));
      background-color: $white;
      padding: 24px 25px 40px;

      .order {
        &__title {
          @include text-style(28px, 26px, 700, $san-marino-lighter);
          text-align: center;
          margin: 0;
        }

        &__price {
          display: flex;
          margin-top: 24px;
          margin-bottom: 24px;
          justify-content: space-between;
          position: relative;

          &:after {
            @extend %position-context;
            top: 0;
            right: 121px;
            width: 1px;
            height: 53px;
            background-color: $powder-blue;
          }

          &_old {
            .text {
              @include text-style(13px, 18px, 400, $slate-gray);
              margin: 0 0 16px;
            }

            .price {
              @include text-style(28px, 24px, 400, $slate-gray);
              letter-spacing: -1px;
              margin: 0;
              position: relative;

              &:after, &:before {
                @extend %position-context;
                width: 69px;
                height: 1px;
                background: $carnation;
                left: 0;
                top: 11px;
                transform: rotate(18deg);
              }

              &:before {
                transform: rotate(-18deg);
              }

              span {
                font-size: 17px;
                line-height: normal;
              }
            }
          }

          &_now {
            .text {
              @include text-style(14px, 18px, 400, $tuatara);
              margin: 0 0 10px;
            }

            .price {
              @include text-style(44px, 24px, 700, $picton-blue);
              letter-spacing: -1px;
              margin: 0;
              position: relative;

              span {
                font-size: 17px;
                line-height: normal;
                font-weight: 400;
              }
            }
          }
        }
      }

    }
  }

  &__title_h1 {
    margin: 0;
  }

  &__title_sub {
    padding-right: 24px;
    margin: 0;
  }

  &__list {
    margin-top: 48px;

    .list__item {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 5px;
      margin-bottom: 12px;
      @include text-style(20px, normal, 500, $ship-gray);

      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        align-items: center;
        border-radius: 50%;
        background-color: $curious-blue;
        margin-right: 20px;
      }

      &:after {
        @extend %position-context;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid $san-marino-lighter;
      }
    }
  }
}

.info_product {

  &__title_h4 {
    margin: 0 auto 16px;
    max-width: 860px;
    text-align: center;

    span {
      color: $carnation-lighter;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    background: url("../assets/bg-opacity.png") no-repeat;
    background-position-y: center;
    background-position-x: 22em;
  }

  &__list {
    max-width: 600px;
    margin-top: 40px;

    .list__item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;

      &:nth-last-child(1) {
        margin-top: 88px;

        .box_ic {
          padding-top: 5px;
          position: relative;

          &:after {
            @extend %position-context;
            width: 70px;
            height: 3px;
            background-color: $ziggurat;
            top: -30px;
          }
        }

        .item__info {
          position: relative;


          &:after {
            @extend %position-context;
            width: 133px;
            height: 3px;
            background-color: $polar;
            top: -30px;
          }
        }
      }

      .box_ic {
        margin-right: 48px;
      }

      .item__info {
        width: calc(100% - 122px);

        .title {
          @include text-style(32px, 24px, 700, $baltic-sea);
          margin: 0;
        }

        .text {
          @include text-style(20px, 40px, 400, $jumbo);
          margin-bottom: 0;
          margin-top: 8px;

          &_info {
            @include text-style(26px, 32px, 500, $ship-gray);
            margin: 0;
          }
        }
      }
    }
  }
}

.preview_product {
  &__block {
    max-width: 600px;
  }

  &__container {
    position: relative;
  }

  &__bg_product {
    top: -58px;
    right: 38px;
    width: 520px;
    height: 447px;
    background-size: cover;
  }

  &__title_h2 {
    margin: 0;

    span {
      color: $san-marino-lighter;
    }
  }

  &__text {
    @include text-style(28px, normal, 400, $ship-gray);
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}