$white: #FFFFFF;
$black-white: #FFFFFD;
$baltic-sea: #2E2C35;
$tuatara: #30302F;
$ship-gray: #3B3944;
$mountain-mist: #8E8C95;
$jumbo: #7E7C89;
$ziggurat: #B9CFDD;
$mystic: #E0E9EE;
$polar: #E5F2FA;
$hit-gray: #A6AEBB;
$slate-gray: #737E96;
$pigeon-post: #B5C1DE;
$san-marino: #4B69B0;
$san-marino-lighter: #5774B8;
$curious-blue: #2D96CC;
$picton-blue: #36BDE3;
$powder-blue: #C0DFEA;
$persimmon: #FF6854;
$carnation: #F76050;
$carnation-lighter: #F56856;
$persimmon: #FF6855;