@mixin text-style($fs, $lh, $fw, $color) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin box-shadow($bs) {
  -moz-box-shadow:    $bs;
  -webkit-box-shadow: $bs;
  box-shadow:         $bs;
}